/*
Your CSS must:
Use at least 2 CSS variables (2 marks)
Use Flexbox in the navigation only (1 mark)
Use at least three different types of selectors
 (e.g., element, class, id, pseudo-class, descendant, etc.) (3 marks)
Style the form so inputs and button do not appear as default browser styling (2 marks)
Include at least one interactive state (:hover or :focus) (1 mark)
*/

/*Font selector*/
header{ background-color: var(--primary);}
header{ background-color: var(--primary);}

header{
    background-color: rgb(42, 42, 144);
    color: white;
    padding: 20px;
    text-align: center;
}

/*Font selector*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333;
}

/*Descendant selector*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/*Footer Style*/
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}

.button{
    display: inline-block;
    padding: 10px 15px;
    background-color: #2590d8;
    color: white;
    text-decoration: none;
}

/*Button Hover Class selector*/
.button:hover {
    background-color: #002e4a;
}